<!-- <div *ngIf="!cargando">
    <p>Hola terminó de cargar</p>
</div>
<img *ngIf="cargando" src="https://cdn.dribbble.com/users/1186261/screenshots/3718681/_______.gif" style="width: 200px;" alt="">

<button (click)="alternar()" >Alternar</button> -->

<!-- <div *ngFor="let nombre of nombres">
    <p>Hola mi nombre: {{nombre}} </p>
</div>
<div *ngFor="let producto of productos">
    <p>El producto es {{producto.nombre}} </p>
    <p>Su stock es {{producto.stock}} </p>
    <p>Su fabricante es {{producto.fabricante}} </p>
    <p>Vence en {{producto.fechaVence}} </p>
</div> -->

<!-- <div class="tab" [ngSwitch]="pestana">
    <button (click)="cambiarPestana('perfil')">Perfil</button>
    <button (click)="cambiarPestana('puntos')">Puntos</button>
    <button (click)="cambiarPestana('info')">Info</button>

    <div class="tabContenido">
        <p *ngSwitchCase="'perfil'">Este es el perfil</p>
        <p *ngSwitchCase="'puntos'">Estos son los puntos</p>
        <p *ngSwitchCase="'info'">Esta es la info</p>
        <p *ngSwitchDefault>Seleccione una pestaña</p>
    </div>
</div> -->

<button (click)="alternarFondo()">Alternar</button>

<div [ngClass]=" { 'cuadrado' : mostrarCuadrado } ">
    <p>Este debería aparecer con un fondo verde</p>
</div>

<div *ngFor="let producto of productos" class="producto">
    <p [ngClass]=" { 'textoImportante' : producto.esImportante, 'textoGrande' : producto.textoGrande } ">El producto es {{producto.nombre}} </p>
    <p>Su stock es {{producto.stock}} </p>
    <p>Su fabricante es {{producto.fabricante}} </p>
    <p [class.textoImportante]="producto.esImportante">Vence en {{producto.fechaVence}} </p>
</div>